/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.activities {
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
}

.group {
    border-color: #FF00FF;
    border-width: 1px;
    border-style: solid;
}